
<div class="container2 text-center">
	<div class = "col-12">
		<h2>Search for a school or area</h2>
	</div>
	<div class="col-md-12 col-xs-12">
		
		<br><h4><a href = "/primarySchools">Mitchells Plain</a></h4>
			
	</div>
		
	
</div>	

