<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"></h1>
                        <div class = "arctLogo"></div>
                        <p class="intro-text">COMING SOON</p>
                        <a href="/topic">
                           Back
                        </a>
                    </div>
                         
                </div>
            </div>
        </div>
    </header>