<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"></h1>
                        <div class = "arctLogo"></div>
                        <p class="intro-text">Book Your Child<br>In the Right School<br> Under construction.</p>
                        <a href="/topic" class="btn btn-circle page-scroll">
                            <i class="fa fa-forward animated"></i>
                        </a>
                    </div>
                         
                </div>
            </div>
        </div>
    </header>
     <div class="col-md-12 why">
        <h1 class = "text-center"><br>Why SchoolBook?</h1>
        <p>Every year, parents fail to place their kids in the right school and some kids fail to get placed. This is due to lack of communication between school and parents.</p><p>With SchoolBook, parents can check which school they would like to place their child in and they can make an online booking to secure the placement and avoid disappointment.</p><p>Parents can also check how many openings a school has left, and search for schools with openings. Additionally, they can view stats like subject offerings, matric pass rate, drop out rate, etc. Schools also get placed on a leaderboard, which would encourage schools to up their standards because they are being monitored.</p>
    </div>