
                        
                            

     <div class="col-md-12 text-center land">
        <h1><br>SchoolBook.</h1>
        <p>Find the right school near you.<br></p>
        <a href="/schoolType" class="btn btn-circle page-scroll"><i class="fa fa-5x fa-forward animated"></i></a>
    </div>