
<div class="container text-center">
	<div class = "col-12">
		<h2>What type of school are you looking for?</h2>
	</div>
	<div class="col-md-12 col-xs-12">
		
		<br><h4><a href = "/primarySchools">Primary School</a></h4>
		<br><h4><a href = "/highSchools">High School</a></h4>
			
	</div>
		
	
</div>	

