
<div class="container2 text-center">
	<div class = "col-12">
		<h2>Which type of school are you looking for?</h2>
	</div>
	<div class="col-md-4 col-xs-12">
		
			<a class = "text-center" href="/search"><img class = "menuImg" src="/images/png/prim.png"></img></a>
			<p >Primary Schools</p>
	</div>
		
	<div class="col-md-4 col-xs-12">
		
			<a class = "text-center" href="/soon"><img class = "menuImg" src="/images/png/hi.png"></img></a>
			<p >High Schools</p>
	</div>
	
	<div class="col-md-4 col-xs-12">
		
			<a class = "text-center" href="/soon"><img class = "menuImg" src="/images/png/priv.png"></img></a>
			<p>Private Schools/Other</p>
	</div>
	
</div>	

